@font-face{
    font-family: "Unibody";
    src: url("../fonts/unibody_8.woff");
}

@font-face{
    font-family: "Unibody";
    font-weight: 700;
    src: url("../fonts/unibody_8_bold.woff");
}

  
@font-face{
    font-family: "Bulky";
    src: url("../fonts/italipixel.woff");
}