@font-face{
    font-family: "Unibody";
    src: url("../fonts/unibody_8.ttf");
}

@font-face{
    font-family: "Unibody";
    font-weight: 700;
    src: url("../fonts/unibody_8_bold.ttf");
}

  
@font-face{
    font-family: "Bulky";
    src: url("../fonts/italipixel.ttf");
}